
{% extends 'blog-post.html' %}


{% block title %}College Advice{% endblock %}

<!-- TODO I don't like 'Freshman Programmers' -->
<!-- TODO Add a link for the average salaries -->

{% block post_title %}
  Advice to College Programmers
{% endblock %}

{% block post_content %}

    <p class="blog-post-text">
      Welcome to the world of computers, nerd. For whatever reason,
      you've decided to go into computer science, software
      engineering, or whatever other computer-y sounding field there
      is. Maybe you like how the salaries look, maybe you like solving
      problems, or maybe you just like math a little too
      much. Whatever your reason, learning to create software is a
      difficult thing to do and it can be painful to do it without a
      little guidance. Assuming you're willing to follow the
      suggestions of a college student I have some pointers which I
      believe could make your time learning a little bit more
      productive. Some of it is tailored specifically to college
      students for the sole reason that I am one, but most of it could
      benefit just about anyone. Good luck, nerd.
    </p>

    <h5 class="section-header">
      School should be hard. 
    </h5>
    <p class="blog-post-text">
      If it isn't, you're doing it wrong. You aren't paying an absurd
      amount of money to some school to already know what your
      professors are talking about. You are going to school to learn,
      and learning is no easy task. Of course, having excellent
      professors who have a teaching style that works for you will
      make the process far less painful. But you wont always have those
      professors, and whether or not you have professors you like you
      will eventually get to that <i>one</i> class where no one could
      possibly make it painless. And when you accidentally aren't
      taking any difficult classes, make them difficult on your
      own. Easy web development class? Make every assignment look like
      a work of art. Easy data science class? Figure out how that
      library works and write the algorithms on your own. If you
      aren't being challenged the people who <i>are</i> are either
      catching up or pulling away. 

      <br>
      <br>

      Learning aside, you probably didn't go into computer science
      because you thought it would be an easy job. High paying, maybe,
      but I don't know anyone who has described computer science as
      easy. If you wanted a job, you should have gone into some other
      profession that isn't programming (those exist, right?). College
      is supposed to prepare you for the so-called real world which
      will hopefully challenge you some, and what sort of preparation
      would it be if you didn't get pushed a little? Embrace the
      challenge.
    </p>

    <h5 class="section-header">
      You aren't paying for grades
    </h5>
    <p class="blog-post-text">
      You are paying to learn, and anyone who tells you that those are
      the same thing is absolutely wrong. So don't bother trying to
      optimize your time at school for grades, it's a complete waste
      of time. Optimize for knowledge and grades will follow. Don't
      regurgitate information because you know it's the right answer.
      Figure out <i>why</i> it's the right answer. Don't spend 5 hours
      trying to squeeze two extra percent out of an assignment. Spend
      those 5 hours writing your own code or researching some new
      framework or listening to tech talks. 4.0's are overrated, and
      not just because I don't have one. Talent, not grades, gets
      hired.
    </p>

    <h5 class="section-header">
      Talk to the smartest people you can find
    </h5>
    <p class="blog-post-text">
      These are the people you have the most to gain from. I don't
      mean that you should be constantly asking them to do your
      homework, because this will do nothing to help you and it will
      do a whole lot to make them want to avoid you completely. What
      you should be doing is talking to them about anything and
      everything computer science. What are they using to write code?
      Why is it better than the other thing? Are they using Linux?
      Windows? Why? What did they work on over the summer and how did
      they do it? You should never accept anything they say blindly,
      of course, but most of the time smart people have reasons for
      the things they do and you should try to figure out what these
      reasons are. The reasons, not the tools, are the valuable parts. 
    </p>

    <h5 class="section-header">
      Give Vim or Emacs an honest try
    </h5>
    <p class="blog-post-text">
      They wont make any sense at all. You probably wont be able to
      figure out how to type anything or save a file without looking
      it up first. Vim and Emacs have massive learning curves and are
      not even slightly user friendly, which is exactly why they are
      worth using. Unbound by a good user experience they are free to
      bind whatever bizarre shortcut they want to shave a keypress off
      a frequently repeated action. I doubt that most people who try
      either of them out will continue with them for very long, but
      approaching them openly will reveal to you the beautiful world
      of keyboard shortcuts. You will begin to see why people say to
      keep your hand off the mouse and you will see that there is
      actual skill involved in the act of editing text. So find some
      low stress period of time when you can afford to be extremely
      slow while editing text (more than 10 minutes) and spend it
      trying out an insane text editor. 
    </p>
{% endblock %}
