
{% extends 'blog-post.html' %}


{% block title %}Pollock{% endblock %}


{% block post_title %}Who Cares if You Understand Jackson Pollock{% endblock %}


{% block post_content %}

  <div class="center">
    <img src="/static/images/greyed-rainbow.jpg"
         class="center responsive-img hoverable">
  </div>

  <p class="blog-post-text">
    My kid could paint that! It's just paint splattered on the canvas! Where's
    the skill?! I don't understand Jackson Pollock!
  </p>

  <p class="blog-post-text">
    And my goodness, neither do I. I'm a computer scientist! We don't have
    creativity at all, we just hit 0's and 1's into a terminal until all your
    passwords fall out.
  </p>

  <p class="blog-post-text">
    So then why do I care about Jackson Pollock? Simply put, because I think
    that just about every one of his paintings looks awfully nice. And I have
    absolutely no idea why. Because it <i>is</i> just paint plattered on a campus,
    and theoretically a child absolutely <i>could</i> paint that (although
    probably not mine, I have no children).
  </p>

  <p class="blog-post-text">
    Since my mother first named our splatter colored dog after the famous
    abstract expressionist I've been intrigued by him and abstract art in
    general. This interest has largely been fueled by a desire to understand
    what on Earth the big deal is about a bunch of colors on a canvas. Sure,
    it's visually pleasing, but so are a million other things that actually
    <i>look</i> like something. If it doesn't actually look like anything,
    what's the point? What does it <i>mean</i>? Is there some deep meaning
    hidden deep in
    <a href="https://www.google.com/search?q=greyed+rainbow+jackson+pollock&biw=1920&bih=905&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjWiL6AyOjPAhUKWx4KHRmWB7QQ_AUIBigB"
       target="_blank">
      Greyed Rainbow
    </a>
    that I missed standing right in front of it? Because it sure didn't look
    anything like a rainbow, whatever the color scheme.
  </p>

  <div class="center">
    <img src="/static/images/pollock-dog.jpg"
         class="center responsive-img hoverable">
    <p>A picture of Pollock the dog</p>
  </div>

  <p class="blog-post-text">
    Well, does the Mona Lisa mean anything? Does The Starry Night? Does The Kiss
    or Girl With a Pearl Earring or A Sunday Afternoon on the Island of La
    Grande Jatte? Maybe. Well, probably, and I would be willing to bet that more
    than one PhD has been given on the meaning of any one of those. But I've
    never heard anyone complain about them or any other painting "of"
    something.
  </p>

  <p class="blog-post-text">
    My opinion about the most realistic painting "of" something on the planet is this:
  </p>
  <p class="blog-post-text">
    Ahem,
  </p>
  <p class="blog-post-text">
    My kid could paint that! It's just paint splattered on the canvas! Where's
    the skill?! I don't understand any artists ever!
  </p>

  <p class="blog-post-text">
    Any painting on the planet is just paint splattered on a canvas. That's why
    it's called a <i>painting</i>. All it is is paint! And just as you could get
    a team of monkeys to churn out Shakespeare you could get a child to
    perfectly recreate the Sistine Chapel, the Mona Lisa, or even... a Jackson
    Pollock painting. If the definition of skill is the theoretical capability
    to accidentally accomplish something then I should drop out of school now,
    because all this so called "learning" is really cutting into my
    random-keys-on-a-typewriter time. I'm writing the next great American novel!
  </p>

  <p class="blog-post-text">
    Maybe trying to assign some specific meaning to all art is a silly venture.
    Maybe the secret to immortality is embedded somewhere in the art of the
    abstract expressionism movement. Maybe a chocolate chip cookie recipe is
    embedded instead. Maybe I'm a silly computer nerd who doesn't get it and who
    tries to write about things he doesn't even slightly understand.
  </p>

  <p class="blog-post-text">
    Most likely, though, maybe people who think that abstract art is nonsense
    should pause for a moment, step back, and say, "doesn't that look nice?"
  </p>

{% endblock %}
