
.home-hr {
  margin-top: 3%;
  margin-bottom: 5%;
}

#header-div {
  margin-top: 7%;
  margin-bottom: 3%;
  font-variant: small-caps;
}

.desc-header {
  font-variant: small-caps;
}

.desc {
  text-align: center;
}

#header {
  letter-spacing: 0.3em;
  font-weight: 600;
}

#sub-header {
  font-variant: small-caps;
  font-weight: 0.5em;
  font-height: em;
}
