

{% extends 'base-page.html' %}

{% block title %}Blog{% endblock %}

{% block css_block %}
  <link rel="stylesheet" href="/static/css/blog-directory.css">
{% endblock %}


{% block header %}
  <div class="container">
    <h1 class="center">Blog Posts</h1>
  </div>
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div id="blog-post-link-div"
           class="col l8 offset-l2 s12">

        <ul id="blog-post-list">
          <li>
            <div class="underline-link-wrapper">
              <a href="/blog/collegeadvice"
                 class="underline-link">
                College Advice (still being written)
              </a>
            </div>
          </li>
        </ul>

      </div>
    </div>

  </div>
{% endblock %}


