
<div id="footer">
  <div class="row">

    <div class="col l4 s12">
      <a href="http://stackoverflow.com/users/6733371/jcolemang"
         class="blue-grey lighten-1 head-link-btn btn z-depth-5"
         target="_blank">
        StackOverflow
      </a>
    </div>

    <div class="col l4 s12">
      <a href="https://github.com/jcolemang"
         class="blue-grey lighten-1 head-link-btn btn z-depth-5"
         target="_blank">
        Github
      </a>
    </div>

    <div class="col l4 s12">
      <a href="https://twitter.com/SingleChar"
         class="blue-grey lighten-1 head-link-btn btn z-depth-5"
         target="_blank">
        Twitter
      </a>
    </div>

  </div>
</div>
